body {
    animation: fluido 3s ease infinite;
    background-size: 300%;
    background-color: #1d3557;
}

h1{
    color: #eee;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    line-height: 0%;    
}

p{
    color: #eee;
    font-family: 'Roboto', sans-serif;
}
.padre {
    padding: 10% 0;
 }
.container{
    position: relative;
}

.containerP{
    display: flex;
    margin-left : 10rem;
    margin-right : 10rem;
}

.subcontainer{
    display: inline-block;
    margin: auto;
}

.icon2{
    width: 200px;
    height: 200px;
}



.preloader {
    width: 100px;
    height: 100px;
    border: 10px solid #eee;
    border-top: 10px solid #03045e;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    margin: auto;
    padding: 12% ;
    background-color: #eee;

  }

.python{
    animation-name: girar1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}


@keyframes fluido {
    0% { background-position: 0 50% }
    100% { background-position: 100% 50% }
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes girar1{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(3.5,3.5);
    }
    100%{
        transform: scale(1,1); 
    }
}

